label {
  font-family: "Vast Shadow", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1vw;
}

select {
  font-family: "Vast Shadow", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1vw;
}

option {
  font-family: "Vast Shadow", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1vw;
}

input {
  font-family: "Vast Shadow", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1vw;
}

.card-container {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 50%;
  overflow-x: hidden;
  overflow-y: auto;
}

.deck-container {
  overflow-y: auto;
}

.card {
  width: calc((50% - 5 * 0.25vw) / 2.5);
  margin: 0.5vh 0.25vw;
}

.deck-card {
  width: calc((50% - 10 * 0.15vw) / 5);
  margin: 0.2vh 0.15vw;
}

.info-container {
  padding-left: 50vw;
}

.deck-container {
  border: 1mm solid black;
  height: 75vh;
  width: 48vw;
}

.card-filters {
  border: 1mm solid black;
  height: 20vh;
  width: 48vw;
}
